<!doctype html>
<html>
<head>
	<title>Polymer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<script src="/polymer/webcomponentsjs/webcomponents.min.js"></script>
	<link rel="import" href="/polymer/paper-tabs/paper-tabs.html" />
	<link rel="import" href="/polymer/core-icons/core-icons.html" />
	<link rel="import" href="/polymer/font-roboto/roboto.html" />
	<link rel="import" href="/polymer/core-toolbar/core-toolbar.html" />
	<link rel="import" href="/polymer/core-media-query/core-media-query.html" />
	<link rel="import" href="/polymer/paper-icon-button/paper-icon-button.html" />

	<link rel="stylesheet" href="/css/styles.css" />

</head>
<body unresolved>

	<core-toolbar class="medium-tall">

		<paper-icon-button icon="menu"></paper-icon-button>
		<div flex>Hello World</div>
		<paper-icon-button icon="search"></paper-icon-button>
		<paper-icon-button icon="more-vert"></paper-icon-button>

		<div class="bottom fit" horizontal layout>

			<paper-tabs selected="0" flex style="max-width: 600px;">

				<paper-tab>ITEM ONE</paper-tab>
				<paper-tab>ITEM TWO</paper-tab>
				<paper-tab>ITEM THREE</paper-tab>

			</paper-tabs>

		</div>

	</core-toolbar>

	<script src="/socket.io/socket.io.js"></script>
	<script>
	/*
	var socket = io.connect('http://localhost:4500');
	socket.on('news', function (data) {
		console.log(data);
		socket.emit('my other event', { my: 'data' });
	});
	*/
	</script>

</body>
</html>
