<!doctype html>
<html>
<head>
	<title>Polymer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="/img/logo32.png">

	<script src="/polymer/webcomponentsjs/webcomponents.min.js"></script>
	<link rel="import" href="/polymer/font-roboto/roboto.html" />

	<link rel="import" href="/polymer/core-ajax/core-ajax.html" />
	<link rel="import" href="/polymer/core-icon/core-icon.html" />
	<link rel="import" href="/polymer/core-icons/core-icons.html" />
	<link rel="import" href="/polymer/core-label/core-label.html" />
	<link rel="import" href="/polymer/core-media-query/core-media-query.html" />
	<link rel="import" href="/polymer/core-toolbar/core-toolbar.html" />

	<link rel="import" href="/polymer/paper-button/paper-button.html" />
	<link rel="import" href="/polymer/paper-checkbox/paper-checkbox.html" />
	<link rel="import" href="/polymer/paper-fab/paper-fab.html" />
	<link rel="import" href="/polymer/paper-icon-button/paper-icon-button.html" />
	<link rel="import" href="/polymer/paper-input/paper-input.html" />
	<link rel="import" href="/polymer/paper-input/paper-input-decorator.html" />

	<link rel="stylesheet" href="/css/styles.css" shim-shadowdom />

	<script>
	function submit() {
		console.log($('#email').val());
	}

	</script>

</head>

<body unresolved>
	<core-toolbar-panel main>
		<core-toolbar>
			<!-- <paper-icon-button id="navicon" icon="menu"></paper-icon-button> -->
			<span flex>Register</span>
			<!-- <paper-icon-button icon="search"></paper-icon-button> -->
			<paper-icon-button icon="more-vert"></paper-icon-button>
		</core-toolbar>

		<div class="content">
			<section>
				<form action="javascript:submit()">
					<paper-input-decorator label="First Name" floatingLabel>
						<input id="first_name" name="first_name" autofocus />
					</paper-input-decorator>

					<paper-input-decorator label="Last Name" floatingLabel>
						<input id="last_name" name="last_name" />
					</paper-input-decorator>

					<paper-input-decorator label="Email" floatingLabel>
						<input id="email" name="email" />
					</paper-input-decorator>

					<paper-input-decorator label="Password" floatingLabel>
						<input id="password" name="password" type="password" />
					</paper-input-decorator>

					<paper-fab icon="arrow-forward" onclick="javascript:submit()"
						style="margin-top:10px;"
					></paper-fab>
					&nbsp;&nbsp;
					<a href="/signin">Sign In</a>
				</form>
			</section>
		</div>
	</core-toolbar-panel>
	<script src="/js/jquery.js"></script>
</body>
</html>
